'@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    

    <form action="/Home/SendSms" method = "post">
      <input name="Phone" type="text" class="form-control" placeholder="Please enter your phone number"/>
      <button type="submit" class="form-control">SEND SMS</button>
    </form>

</div>
