<!-- contact -->
      <div class="contact">
         <div class="container">
            <div class="row ">
               <div class="col-md-12">
                  <div class="titlepage text_align_center">
                     <h2>Contact <span class="blue_light">Us</span></h2>
                  </div>
               </div>
               <div class="col-md-10 offset-md-1">
                  <form action="/ContactController/SendCode"  method = "post">
                     <div class="row">
                        <div class="col-md-12 ">
                           <input  class="form-control" placeholder="Name" type="text" name="Name"> 
                        </div>
                        <div class="col-md-12">
                           <input class="form-control" placeholder="Phone number" type="text" name="phoneNumber">                          
                        </div>
                        <div class="col-md-12">
                           <input class="form-control" placeholder="Your Email" type="text" name="Email">                          
                        </div>
                        <div class="col-md-12">
                           <textarea class="form-control" placeholder="Message" type="text" name="Message"></textarea>
                        </div>
                        <div class="col-md-12">
                           <button type = "submit" class="btn btn-success form-control">Submit Now</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <!-- contact -->