
<form action="/Login/Check" method="post">
<div class ="text-center p-5 m-5 border " style="height:500px;">

    <div class="col-12 text-center">
        <input name="code" class="form-control" style="margin-top:300px" class="enter" type="text" placeholder="Please enter your confirmation code." />
    </div>

    <div class="col-12 text-center">
        <button type="submit" class=" btn btn-sbtn-success form-control">Check the Code</button>
    </div>
    
    
</div>
</form>