
<form action="/Login/SendCode" method="post">
<div class ="text-center p-5 m-5 border " style="height:500px;">

    <div class="col-12 text-center">
        <input name="phone" class="form-control" style="margin-top:300px" class="enter" type="text" placeholder="Please enter your phone number." />
    </div>

    <div class="col-12 text-center">
        <button type="submit" class=" btn btn-sbtn-success form-control">Send Code</button>
    </div>
    
    
</div>
</form>